body {
  background-color: #e8e9eb40 !important;font-family: "outfit" !important;
  background-image: url('../public/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}
@font-face {
  font-family: outfit;
  src: url(./OutfitRegular.ttf);
}
